
html{
  margin: 0;
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face{
  font-family: 'Yahoo';
  src: url('YahooC-Bold.otf');
}

*{
  font-family: 'Yahoo';
}

#root{
   margin: 0;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    transition-duration: 0.3s;
}

.App {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding-top: 60px;
  border: 50px solid #faae61;
  border-top: 100px solid #faae61;
  border-bottom: 100px solid #faae61;
  border-radius: 2%;
  transition-duration: 0.3s;
}


.lists{
  padding: 0;
  width: 600px;
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  transition-duration: 0.3s;
  
}

.lists li{
  display: flex;
  width: 600px;
  margin: 10px 0;
}

.lists li p{
  width: 300px;
  border-bottom: 3px solid #ba8147;
  min-height: 35px;
  margin-top: 13px;
  text-align: center;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
  color: #ba8147;
  transition-duration: 0.3s;
  overflow: auto;
}

.lists li input{
  background: #d6cba7;
  color: #1a170e;
  font-weight: 700;
  text-shadow: 0 5px 10px #000;
  width: 20px;
  height: 20px;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: auto;
  text-align: center;
  transition-duration: 0.3s;
}


.lists li.completed p{
  text-decoration: line-through;
  color: #573f27;
  border-bottom: 3px solid #573f27;
}


.btns-global{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  transition-duration: 0.3s;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: -53px;
  border-bottom: 60px solid #fff;
  border-radius: 50px;
  position: relative;
}

.btns-global button{
  border: 3px solid #faae61;
  border-radius: 3%;
  color: #ba2156;
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
  height: 70px;
  background: none;
  text-align: center;
  transition-duration: 0.3s;
  border-top: 1px solid #faae61;
  border-bottom: 3px solid #faae61;
  border-left: 1px solid #faae61;
  border-right: 1px solid #faae61;
}

.btns-global button:hover,
.add-new-item button:hover{
  transform: scale(1.1);
  box-shadow: 0 5px 5px 5px #d4d4d4;
}

.add-new-item{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -103px;
  border-top: 60px solid #fff;
  border-radius: 50px;
  position: relative;
}


.add-new-item img,
.btns-global img{
  width: 100px;
  bottom: -20px;
  right: -10px;
  position: absolute;
}

.btns-global img{
  bottom: -80px;
  right: -10px;
}

.add-new-item img:first-child{
  top: -60px;
  left: 10px;
  transform: scale(-1,-1);
}

.add-new-item input{
  width: 460px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 0;
  padding-left: 10px;
  border: none;
  text-shadow: 0 2px 5px rgb(0,0,0,0.1);
  background: linear-gradient(#fff, #fff, #fff,rgb(0,0,0,0.1) );
  border-bottom: 3px solid #faae61;
  transition-duration: 0.3s;
  color: #8a643e;
}

.add-new-item input:focus{
  outline: none;
}

.add-new-item button{
  transition-duration: 0.3s;
  background: none;
  color: #ba8147;
  text-shadow: none;
  box-shadow: none;
  border-top: 1px solid #faae61;
  border-bottom: 3px solid #faae61;
  border-left: 1px solid #faae61;
  border-right: 1px solid #faae61;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 13px;
}

.lists li img{
    margin-top: 13px;
    margin-right: 50px;
    margin-left: auto;
    width: 50px;
    height: 59px;
    transition-duration: 0.3s;
  }

.lists li img:hover{
  transform: rotate(180deg);
}

@media (max-width: 600px){

  body{
    overflow: auto;
  }

  #root{
    padding-top: 0px;
  }

  .App {
    width: 360px;
    border: 30px solid #faae61;
    border-top: 70px solid #faae61;
    border-bottom: 70px solid #faae61;
    border-radius: 0;
    padding-bottom: 100%;
  }


  .lists{
    width: 360px;
  }

  .lists li{
    width: 360px;
  }

  .lists li p{
    width: 200px;
  }

  .lists li input{
    margin-left: 20px;
  }

  .btns-global{
    width: 360px;
    margin-bottom: -40px;
    border-bottom: 45px solid #fff;
    border-radius: 50px;
  }

  .btns-global button{
    width: 170px;
    font-size: 11px;    
  }

  .btns-global button:hover,
  .add-new-item button:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 5px 5px #d4d4d4;
  }

  .add-new-item{
    width: 360px;
    margin-top: -105px;
    border-top: 45px solid #fff;
  }


  .add-new-item img,
  .btns-global img{
    width: 70px;
    bottom: 0px;
    right: 0px;
  }

  .btns-global img{
    bottom: -50px;
    right: -20px;
  }

  .add-new-item img:first-child{
    top: -50px;
  }

  .add-new-item input{
    width: 300px;
    height: 60px;
  }

  .add-new-item button{
    font-size: 15px;
  }

  .lists li img{
    margin-right: 0px;
  }
}