
html{
  margin: 0;
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face{
  font-family: 'Yahoo';
  src: url('YahooC-Bold.otf');
}

*{
  font-family: 'Yahoo';
}

#root{
   margin: 0;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    transition-duration: 0.3s;
    background: #feca76;
}

.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
  border: 50px solid #feca76;
  border-top: 100px solid #feca76;
  border-bottom: 100px solid #feca76;
  border-radius: 2%;
  transition-duration: 0.3s;
}


.lists{
  padding: 0;
  width: 1000px;
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  transition-duration: 0.3s;
  
}

.lists li{
  display: flex;
  width: 1000px;
  margin: 10px 0;
  position: relative;
}

.lists li p{
  width: 750px;
  border-bottom: 3px solid #ba8147;
  min-height: 35px;
  margin-top: 13px;
  text-align: center;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
  color: #77402b;
  transition-duration: 0.3s;
  overflow: auto;
}

.lists li input{
  background: #d6cba7;
  color: #1a170e;
  font-weight: 700;
  text-shadow: 0 5px 10px #000;
  width: 20px;
  height: 20px;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: auto;
  text-align: center;
  transition-duration: 0.3s;
}

.lists li input {
  z-index: 10;
  opacity: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 70px;
}

.custom-checkbox+label {
  position: absolute;
  left: 70px;
  top: 20px;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #a69271;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition-duration: 0.3s;
}
.custom-checkbox:checked+label::before {
  border-color: #a69271;
  background-color: #feca76;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


.lists li.completed p{
  text-decoration: line-through;
  color: #573f27;
  border-bottom: 3px solid #573f27;
}


.btns-global{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  transition-duration: 0.3s;
  opacity: 1;
  padding-top: 30px;
  margin-bottom: -53px;
  border-bottom: 60px solid #fff;
  border-radius: 0 0 50px 50px;
  position: relative;
}

.btns-global button{
  border: 1px solid #faae61;
  border-radius: 10px;
  color: #77402b;
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
  height: 70px;
  background: none;
  text-align: center;
  transition-duration: 0.3s;
}

.btns-global button:hover,
.add-new-item button:hover{
  background: #feca76;
}

.add-new-item{
  width: 1000px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -103px;
  border-top: 60px solid #fff;
  border-radius: 50px 50px 0 0;
  position: relative;
  padding-bottom: 40px;
}

.add-new-item h1{
  width: 300px;
  border: 3px solid #ba8147;
  text-align: center;
  color: #77402b;
  border-radius: 10px;
  margin-left: 130px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.add-new-item div{
  width: 100%;
}

.add-new-item img{
  right: 140px;
  top: -70px;
  position: absolute;
}


.add-new-item input{
  width: 730px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  padding-left: 10px;
  margin-left: 00px;
  border: none;
  text-align: center;
  border-bottom: 3px solid #ba8147;
  transition-duration: 0.3s;
  color: #77402b;
}

.add-new-item input::placeholder{
  color: #77402b;
  opacity: 0.6;
}

.add-new-item input:focus{
  outline: none;
}

.add-new-item button{
  transition-duration: 0.3s;
  background: none;
  color: #77402b;
  text-shadow: none;
  box-shadow: none;
  border: 1px solid #faae61;
  border-radius: 10px;
  font-size: 14px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 13px;
  margin-left: 60px;
}

.lists li img{
    margin-top: 7px;
    margin-right: 50px;
    margin-left: 0;
    width: 50px;
    height: 59px;
    transition-duration: 0.3s;
  }

.lists li img:hover{
  transform: rotate(180deg);
}

@media (max-width: 600px){

  body{
    overflow: auto;
  }

  #root{
    padding-top: 0px;
    width: 360px;
  }

  .App {
    width: 360px;
  }


  .lists{
    width: 360px;
  }

  .lists li{
    width: 360px;
  }

  .lists li p{
    width: 300px;
  }

  .lists li input{
    margin-left: 20px;
  }

  .custom-checkbox+label {
    left: 20px;

  }

  .btns-global{
    width: 360px;
  }

  .btns-global button{
    width: 170px;
    font-size: 11px;    
  }

  .btns-global button:hover,
  .add-new-item button:hover{
    background: #feca76;
  }

  .add-new-item{
    width: 360px;
    margin-top: -105px;
    border-top: 45px solid #fff;
  }


  .add-new-item img{
    width: 70px;
    top: 20px;
    right: 0px;
  }


  .add-new-item input{
    width: 300px;
    height: 60px;
  }

  .add-new-item button{
    font-size: 15px;
    margin-left: 20px;
  }

  .lists li img{
    margin-right: 0px;
  }
}